
src/main/resources/application.properties

.DS_Store

.gradle/6.4.1/executionHistory/

.gradle/6.4.1/fileHashes/

.idea/

.gradle/6.4.1/fileContent/

.gradle/6.4.1/javaCompile/

.gradle/buildOutputCleanup/

.gradle/checksums/

.build/**

.gradle/**